
h1
{
  font-size: 100px;
}

#mainTitle
{
  color: red;
}

  @media (max-width: 320px) {
    h1
{
  font-size: 30px;
  color: orange
} 
  }
  
  @media (max-width: 768px) {
    h1
    {
      font-size: 60px;
      color: yellow
    } 
  }

  
  @media (min-width: 1200px) {
    h1
    {
      font-size: 200px;
      color: purple
    } 
  }